@import url('https://fonts.googleapis.com/css?family=Fresca|Raleway|Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#root {
   font-family: 'Roboto', sans-serif;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   margin: 0;
   padding: 0;
}

.App {
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.navCon {
  display: flex;
  width: 100vw;
  height: 40px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.title {
color: white;
font-size: 1.5rem;
}

.loginCon {
  position: absolute;
  right: 15px;
  top: 14px;
}

.loginCon button {
  padding: 2px 9px;
  border: none;
  font-size: 0.9rem;
  color: white;
  background-color: #0bcdfe;
  border-radius: 1px;
  cursor: pointer;
}

/*Login Form*/

.loginForm {
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  color: white;
  font-size: 2.5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs input {
  margin-bottom: 7px;
}

.warning {
  position: absolute;
  margin: 0 auto;
  top: 20%;
  color: #FF5964;
}

/*Login Form ends */

/* admin */

.admin {
  display: flex;
  justify-content: center;
}

.admin-name {
  font-size: 0.8rem;
}

.admin-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.add-task {
  cursor: pointer;
  width: 150px;
  padding: 3px;
  background-color: #6BF178;
  font-weight: 600;
  color: white;
  border: none;
}

/* admin ends */

/* task list */

.task-con {
  margin: 30px 0;
}

.task-con div {
  width: 40vw;
}

.task-title {
  display: flex;
  justify-content: center;
  background-color: #0bcdfe;
  padding: 5px 0;
  color:  white;
}

.for-whom {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  padding: 5px 0;
  background-color: #FFFFFF;
  margin-bottom: 1px;
}

.task-text {
    background-color: #FFFFFF;
    font-size: 0.9rem;
    margin: 0;
    padding: 5px 0;
}

.buttons {
  margin: 0;
  display: flex;
  justify-content: center;
}

.buttons button {
  border: none;
  cursor: pointer;
  margin: 1px;
  padding: 5px;
  background-color: #14bdfe;
  width: 50px;
}

.edit {
  color: white;
}

.delete {
  color: white;
}

.isDoneCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isDoneCon div {
  width: 30vw;
  color: #FF5964;
}

#isDone {
  color: white;
  background-color: #6BF178;
  display: flex;
  justify-content: center;
}

#isNotDone {
  color: white;
  background-color: #FF5964;
  display: flex;
  justify-content: center;
}

.isDoneCon input {
  width: 20px;
  height: 20px;
}

.isDoneConAdmin {
  display: flex;
  justify-content: center;
}

/* task list ends */


/* create task */
.createTaskCon {
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose {
  background-color: #0bcdfe;
  color: white;
  font-size: 0.8rem;
  margin: 5px;
  padding: 3px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.create-task {
    background-color: #FF5964;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 3px;
    width: 100px;
}
.inputs select {
  margin-bottom: 7px;
  width: 200px;
}
.inputs input {
  width: 200px;
}

.inputs textarea {
  width: 200px;
  height: 120px;
}

/* create task ends */
